body{
    margin: auto;
}
#search{
    background-image: url('food-wallpaper.png');
    height:500px;
    background-repeat:no-repeat;
    background-size: 100% 500px;
}

.header{
    height:70px;
}

.brand{
    display:inline-block;
    margin-left: 5%;
    color:white;
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif

}
.social{
    display:inline-block;
    margin-left: 70%;
}


.social> img{
    height:50px;
    width: 50px;
}

.socailicon{
    height:50px;
    width: 50px;
}

#logo{
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    font-size:90px;
    color:red;
    margin-left: 10%;
    animation: moveLogo 20s infinite;
}

/*
#logo{
    margin-left: 45%;
    transition: margin-left 5s;
}*/

@keyframes moveLogo {
    0% {margin-left: 10%;}
    25% {margin-left: 45%;}
    50% {margin-left: 90%;}
    75% {margin-left: 70%;}
    100% {margin-left: 45%;}
}

#logo> span{
    color:olive;
    margin-left: -45px;
    margin-top: 1%;
    position: absolute;
  }

#heading{
    color:white;
    font-size:35px;
    margin: auto;
    margin-top:2%;
    background-color:skyblue;
    width:30%;
}

#dropdown{
    height: 60px;
    width:60%;
    margin-left: 27%;
    margin-top:3%;
}

select{
    height: 60px;
    width:40%;
    border-radius: 2%;
}

/* Part second css */

#QuickSearch{
    height:500px;
    width:80%;
    margin-left: 10%;
    margin-top: 2%;
}

#QuickSearchHeading{
    color:#192f60;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    display: block;
}
#QuickSubHeading{
    color:gray;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 15px;
    position: absolute;
}

.mainTileContainer{
    margin-top: 8%;
}

.tileContainer{
    display: inline-block;
    height:180px;
    width:30%;
    border:5px groove gray;
    margin-left: 2%;
}

.tileContainer:hover{
    /*transform: scale(1.1);
     transform: rotate(0deg);
     transform: skewY(30deg)*/
     transform: scale(1.1);
}

.tileComponent1{
    width:46%;
    float: left;
}

.tileComponent2{
    width:46%;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.tileComponent1 > img{
    height:180px;
    width:100%
}

.componentHeading{
    color:#192f60;
    font-size:25px;
}

.componentSubHeading{
    color:gray;
    font-size:18px;
}

@media screen and (max-width:1600px){
    body{
        background-color:lightseagreen
    }
}

@media screen and (max-width:1400px){
    body{
        background-color:lightcoral
    }
    #heading{
        width:30%;
    }
}

@media screen and (max-width:1200px){
    body{
        background-color:skyblue
    }
    .tileContainer{
        width:40%;
        margin-left: 5%;
    }
    #QuickSearch{
        margin-left: 14%;
    }
    #heading{
        width:40%;
    }
    
}

@media screen and (max-width:1000px){
    body{
        background-color:lightslategray
    }
    .tileContainer{
        width:42%;
        color:white
    }
    .componentSubHeading{
        color:white
    }
    #heading{
        width:48%;
    }
}

@media screen and (max-width:800px){
    body{
        background-color:lightpink
    }
    .tileContainer{
        width:90%;
        margin-top:2%
    }
    #heading{
        width:60%;
    }
}

@media screen and (max-width:600px){
    body{
        background-color:lightgreen
    }
    .tileContainer{
        width:90%;
        margin-top:2%
    }
    #heading{
        font-size:20px;
        width:50%;
    }
    #logo{
        margin-left: 38%;
    }

}